.field-offer-container {
    height: auto;
    max-height: 40rem;
    width: 100%;
    /* margin-top: 2rem; */
    padding: 2rem;
    background-color: white;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-container h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    color: #35742d;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
}

.under-line {
    width: 18px;
    background-color: #CCCC00;
    height: 5px;
    margin-bottom: 10px;
}

.offer-container {
    text-align: center;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 0.9rem;
    padding: 0.9rem;
    height: 20rem;
}


@media(max-width: 700px) {
    .field-offer-container {
        max-height: none;
        padding: 0;
        padding-top: 0.9rem;
    }

    .header-container h2 {
        font-size: 1.5rem;
    }

    .offer-container {
        margin-top: 0.9rem;
        flex-direction: column;
        height: auto;
        width: 100%;
        /* padding: 0; */
        /* height: 60rem; */
    }
}