.home-nav-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    padding-right: 0.5rem;
    margin: 0;
    position: relative;
}

.home-nav-item {
    font-size: 0.55rem;
    font-weight: 600;
    /* flex: calc(1/8); */
    margin: 1.2rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    width: auto;
    max-width: 170px,;
    cursor: pointer;
}

.sub-navigation li:hover{
    background-color: #CECC17;
}

.sub-navigation {
    box-shadow: 0px 0px 3px 0;
}


.sub-navigation a:hover {
    text-decoration: none;
    color: black;
}

.home-nav-item  a{
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}

.sub-navigation a {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    width: 100%;
}

.home-nav-item  > a:hover {
    color: #42754D;
    text-decoration: none;
}

.home-nav-item > a.active {
    color: #42754D;
}

.button {
    background-color: #42754D;
    color: white;
    height: 2.2rem;
    border-radius: 5px;
    font-size: 0.7rem;
    width: 120px;
    margin-right: 1rem;
    max-width: 150px;
    border: none;
    cursor: pointer;
}

.navigation {
    position: "absolute"; 
    top: 60;
    height: 10; 
    width:30; 
    background-color: "red";
}

@media(max-width: 840px) {
    .home-nav-item{
        display: none;
    }

    .home-nav-items {
        justify-content: flex-end;
    }
}

@media(min-width: 950px) {
    .home-nav-item{
        font-size: 0.65rem;
    }

    .button {
        font-size: 0.8rem;
    }
}

@media(min-width: 1050px) {
    .home-nav-item,
    .button {
        font-size: 0.8rem;
    }
}

@media(min-width: 1300px) {
    .home-nav-item,
    .button {
        font-size: 0.85rem;
    }
}

@media(max-width: 375px) {
    .button{
        margin-right: 0;
        width: 100px;
    }

    .home-nav-items {
        padding-left: 0.5rem;
    }
}
