.offer-container {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100%;
    align-items: center;
    justify-content: space-evenly ;
    background-color: teal;
    padding: 0.9rem;
    margin: 0.3rem;
}


.even-colour {
    background-color: #47684D;
}

.odd-colour {
    background-color: #A6A54F;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 8rem;
    background-color: white;
    border-radius: 50%;
}

.icon-container img {
    height: 50%;
    width: 60%;
}

.offer-container p {
    margin: 0.9rem;
    color: white;
    text-align: center;
}

.offer-container button {
    color: transparent;
    height: 2rem;
    border: 1px solid white;
    background-color: transparent;
    width: 70%;
    color: white;
}


@media(max-width: 900px) {
    .offer-container button {
        font-size: 0.8rem;
    }
}

@media(max-width: 700px) {
    .offer-container {
        width: 100%;
        margin: 0;
        height: 15rem;
    }

    .offer-container button {
        width: 40%;
    }
}
