/* .otp-container {
    
    width: 100%;
    position: fixed;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.otp-form {
    height: 25rem;
    position: relative;
    width: 90%;
    padding: 1rem;
    max-width: 20rem;
    box-shadow: 0 1px 10px 0 lightgrey;
    background-color: white;
}

.logo-container {
    height: 80px;
    width: 100%;
}

.user-name {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    padding-left: 0.5rem;
}

.logo-container img {
    height: 100%;
    width: 160px;
}

.input-container {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 lightgray;
}

.input-container input {
    height: 100%;
    border-radius: 10px;
    width: 100%;
    padding-left: 1rem;
    font-size: 0.7rem;
    color: gray;
    border: none;
}

.verify {
    height: 40px;
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A6A54F;
    cursor: pointer;
    /* box-shadow: 0 1px 10px 0 lightgray; */
}

.verify:active {
    transform: translateY(-1px);
}

.verify p  {
    color: #131313;
    margin: 0;
    font-size: 1rem;
}

