.common-header {
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    height: 65vh;
    max-height: 30rem;
    width: 100%;
}

.is-height {
    height: 16rem
}

.header {
    position: absolute;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
}

.common-header img{
    margin: 0;
    height: 100%;
    width: 100%;
}

@media(max-width: 700px) {
    .common-header h2 {
        font-size: 1.5rem;
    }

    .common-header {
        height: 16rem;
    }
}