.MuiBox-root{
    padding-left: 0!important;
    padding-right: 0!important;
}
.MuiMenu-list{
    background-color: #fff;
}

/* .table_, .td_, .th_ {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table_ {
    border-collapse: collapse;
    width: 100%;
  }
  
  .th_, .td_ {
    padding: 15px;
  } */


  .table_ {
    border-collapse: collapse;
    /* width: 100%; */
    background-color: #fff;
  }
  
  .th_, .td_ {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  .td_l{
    padding: 15px;

      text-align: center;
    border-bottom: 1px solid #ddd;

  }
  .td_r{
    padding: 15px;

    text-align: center;
    border-bottom: 1px solid #ddd;

}
  .th_ {
    background-color: black;
    color: white;
  }
  .tr_:hover {
    background-color: #23284a96;
    cursor: pointer;
    /* min-height: 150%;
    min-width: 110%; */
    /* font-size: 1%; */
}

.search-table-outter {border:2px}
.search-table{table-layout: fixed; margin:40px auto 0px auto; }
.search-table, .td_, .th_{border-collapse:collapse; border:1px solid #777;}


.search-table-outter { overflow-x: scroll; }
.th_, .td_ { min-width: 200px; }
.jss551,.makeStyles-root-56m.jss56{overflow: auto!important;}