.footer-container {
    background-color: #608562;
    height: 13rem;
    color: white;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container p {
    text-align: center;
    font-size: 14;
    margin: 0.2rem;
}

p.copyrights {
    color: #adb5bd;
    margin: 0.9rem;
}

.footer-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: none;
}

.footer-container li {
    margin: 0.5rem;
    font-size: 25px;
}